In [1]:
from sqlalchemy import create_engine
import pandas as pd
from pandas import DataFrame, Series
from datetime import timedelta

In [2]:
engine = create_engine('postgresql+psycopg2://db:765@#sy666@172.18.91.191:20004/bank') #十院的数据库配置
#engine = create_engine('postgresql+psycopg2://zhuyu:314YU159@172.16.0.20:5432/bank_cqm_test') #公司的数据库配置

In [3]:
def run_sql(engine, sql): # run sql
    with engine.connect() as conn:
        res = conn.execute(sql)
        return res

def get_data(engine, sql): # return results as DataFrame
    records = run_sql(engine, sql)
    return DataFrame(list(records), columns=list(records.keys()))

# 2018 所有做过两个报告中至少一个的人

In [18]:
s = '''
  select visit_id, check_time
  from checks.ultrasound_report
  where check_time > '2018-01-01'
    and visit_type = 'I'
    and visit_id <> 0
    and check_name like '%下肢静脉%'

  union
  select visit_id, check_time
  from checks.radiology_report
  where check_time > '2018-01-01'
    and visit_type = 'I'
    and visit_id <> 0
    and (check_name like '%肺%CT%' or check_name like '%CT%肺%')
'''.replace('%', '%%')

In [16]:
# 按照建模的标准来选定样本
vte_2018 = '''
with pos_patient as (
  select visit_id
  from checks.ultrasound_report
  where check_time > '2018-01-01'
    and visit_type = 'I'
    and visit_id <> 0
    and check_name like '%下肢静脉%'

  union
  select visit_id, check_time
  from checks.radiology_report
  where check_time > '2018-01-01'
    and visit_type = 'I'
    and visit_id <> 0
    and (check_name like '%肺%CT%' or check_name like '%CT%肺%')

)
select inpat_id, in_time, extract(days from out_time - in_time) as d
from visit.inpat_record
where inpat_id in (select visit_id from pos_patient)
'''.replace('%', '%%')

In [ ]:
# 按照后端开发同事的标准来选定阳性样本
s_pos_2 = '''
with pos_patient_diag as (
  select inpat_id
  from cqm.vte_patient_is_vte
  where out_time > '2018-01-01'
)
select inpat_id, in_time, extract(days from out_time - in_time) as d
from visit.inpat_record
where inpat_id in (select inpat_id from pos_patient_diag);
'''

In [4]:
# 在公司里面用于跑通代码的测试SQL
s_test = '''
select inpat_id, in_time, out_time, extract(days from out_time - in_time) as d
from visit.inpat_record
where in_time is not null
  and out_time is not null
limit 2;
'''

In [1]:
df_test = get_data(engine, vte_2018)
df_test

NameError: name 'get_data' is not defined

In [26]:
df['check_time'].dt.month.value_counts().sort_index().to_csv('a.csv')

In [20]:
df = get_data(engine, s)
df

       visit_id          check_time
0     101157142 2018-06-15 08:06:43
1     101139423 2018-03-29 10:12:35
2     101152947 2018-05-18 11:25:37
3     101226569 2018-11-01 00:00:00
4     101205980 2018-08-28 08:51:11
5     101196784 2018-07-23 09:00:16
6     101152990 2018-05-21 09:42:25
7     101208763 2018-09-06 15:19:33
8     101225727 2018-11-05 00:00:00
9     101216067 2018-09-28 11:43:00
10    101158825 2018-06-12 11:11:14
11    101230858 2018-11-19 00:00:00
12    101156093 2018-06-04 13:34:04
13    101202916 2018-08-22 08:36:43
14    101122920 2018-01-18 10:09:01
15    101204736 2018-08-27 11:55:19
16    101214686 2018-10-16 09:48:22
17    101196495 2018-07-17 15:25:30
18    101127620 2018-02-11 09:42:35
19    101130348 2018-02-28 08:31:52
20    101151542 2018-05-14 14:12:21
21    101210727 2018-09-11 14:29:03
22    101129331 2018-02-13 08:34:20
23    101144654 2018-04-24 14:04:34
24    101125161 2018-01-30 09:47:55
25    101154603 2018-05-28 14:08:25
26    101233124 2018-11-27 00:00:00
27    101222728 2018-10-24 10:43:02
28    101121072 2018-01-11 10:20:39
29    101214443 2018-09-25 08:48:13
...         ...                 ...
5948  101233500 2018-11-28 00:00:00
5949  101117006 2018-01-08 10:37:34
5950  101224896 2018-11-05 00:00:00
5951  101209397 2018-09-06 12:00:14
5952  101141474 2018-04-04 10:01:00
5953  101231214 2018-11-21 00:00:00
5954  101220242 2018-10-17 08:54:01
5955  101155309 2018-06-06 00:00:00
5956  101232676 2018-11-26 00:00:00
5957  101223246 2018-10-25 10:26:03
5958  100747548 2018-01-05 08:33:51
5959  101134965 2018-03-16 08:42:11
5960  101153574 2018-05-22 08:04:23
5961  101134756 2018-03-16 08:24:12
5962  101145926 2018-04-25 15:17:32
5963  101220898 2018-10-17 10:58:01
5964  101129597 2018-02-22 09:24:36
5965  101153551 2018-05-21 09:15:56
5966  101233401 2018-11-29 00:00:00
5967  101195823 2018-07-06 10:23:28
5968  101146281 2018-04-25 15:37:23
5969  101147563 2018-05-02 14:57:00
5970  101143055 2018-04-13 08:11:55
5971  101221805 2018-10-22 10:42:02
5972  101135017 2018-03-19 08:22:58
5973  101123827 2018-01-26 14:48:35
5974  101125071 2018-01-30 10:40:01
5975  101218824 2018-10-26 17:01:23
5976  101213254 2018-09-20 08:24:04
5977  101156718 2018-06-04 14:37:05

[5978 rows x 2 columns]

In [9]:
df

Index(['inpat_id', 'in_time', 'd'], dtype='object')