# 创建实验环境

## DataFrame中的同名列
大部分情况下，DataFrame都不鼓励DataFrame中出现同名列，单并不是完全禁止。

### merge的情况

In [1]:
from pandas import DataFrame, Series
import pandas as pd

In [2]:
df_1 = DataFrame({'A':[1,2,3],'B':[1,2,3]})
df_1

   A  B
0  1  1
1  2  2
2  3  3

In [3]:
df_2 = DataFrame({'A':[1,2,3],'B':[1,2,3]})
df_2

   A  B
0  1  1
1  2  2
2  3  3

In [4]:
df_1.merge(df_2,on='A')

   A  B_x  B_y
0  1    1    1
1  2    2    2
2  3    3    3

可以看到merge函数会自动给两张表的同名列加上前缀以区分

如果强行去掉前缀， 那么会报错

In [5]:
df_1.merge(df_2, on = 'A', suffixes = ['',''])

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

reset_index的时候，如果index的列名和已有的列名重复，那么会报错

In [43]:
try:
    df = DataFrame({'A':[1,2,3]})
    df.index.name = 'A'
    df.reset_index()
except Exception as e:
    print(e)

cannot insert A, already exists

In [44]:
df = DataFrame({'A':[1,2,3,4],'B':[1,2,3,4]})
df

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

pd.concat则不会检查是否存在重名列

In [33]:
df = pd.concat([df_1, df_2],axis=1)
df

   B  A  B  A  B
0  1  1  1  1  1
1  1  2  2  2  2
2  1  3  3  3  3

renname函数也不会去检查列名是否一致

In [47]:
df = DataFrame({'A':[1,2,3],'B':[1,2,3]})
df.rename(columns = {'B':'A'})

   A  A
0  1  1
1  2  2
2  3  3

insert函数则会提供allow_duplicates参数，让用户去决定是否允许重名列存在。

In [28]:
df_1.insert(0,'B',1,allow_duplicates=True)
df_1

   B  A  B
0  1  1  1
1  1  2  2
2  1  3  3

如果同名列存在， 那么用列名去选取列的是否， 会同时把所有的列名都选择出来

### 总结：
DataFrame中对于列名是否一致， 不同的函数表现并不一致。 有些允许， 有些禁止， 有些交由用户自己决定。 实践中， 我并没有遇到什么场景需要让两列的列名相同，建议避免出现这种情况。

In [1]:
user = 'test'
password = 'test'
dbname = 'test'
port = '5432'
schema = 'test'

url = 'postgresql://{user}:{password}@localhost:{port}/{dbname}'.format(**locals())

In [2]:
from sqlalchemy import create_engine, join, select

from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

from pandas import DataFrame, Series

drop_sql = 'drop table table_one'

engine = create_engine(url)
metadata = MetaData()
table_one = Table('table_one', metadata,
    Column('A', String),
    Column('B', Integer),
    Column('C', Integer),
    schema = 'test'
)

with engine.connect() as conn:
    try:
        conn.execute(drop_sql)
    except:
        pass    
    
metadata.create_all(engine)

如果创表的时候用了大写， 时候， 只能用'A'来选择

In [6]:
s = "select 'A' from test.table_one"

with engine.connect() as conn:
    print(conn.execute(s).fetchall())

[]

sqlalchemy的话可以用A选择, 自动转成了'A'

In [9]:
t = Table('table_one',metadata,schema = 'test')

s  = select(
    [t.c.A]
)

with engine.connect() as conn:
    print(conn.execute(s).fetchall())

[]

In [10]:
print(s.compile())

SELECT test.table_one."A"
FROM test.table_one

如果建表的时候用小写， 那么怎么选都可以

In [11]:
from sqlalchemy import create_engine, join, select

from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

from pandas import DataFrame, Series

drop_sql = 'drop table table_one'

engine = create_engine(url)
metadata = MetaData()
table_one = Table('table_one', metadata,
    Column('a', String),
    Column('b', Integer),
    Column('c', Integer),
    schema = 'test'
)

with engine.connect() as conn:
    try:
        conn.execute(drop_sql)
    except:
        pass    
    
metadata.create_all(engine)

In [15]:
s = "select 'a' from test.table_one"

with engine.connect() as conn:
    print(conn.execute(s).fetchall())

[]

In [18]:
t = Table('table_one',metadata,schema = 'test')

s  = select(
    [t.c.a]
)

with engine.connect() as conn:
    print(conn.execute(s).fetchall())

[]

最简单的方法就是sqlalchemy中一律使用小写建表

In [ ]:
如果直接用SQL建表

sql = '''
    creat test.table(
        A INTEGER,
        B INTEGER
    )
'''

In [ ]:
with engine.connect() as conn:
    try:
        conn.execute(drop_sql)
    except:
        pass
        
    conn.execute(sql)

In [14]:
user = 'test'
password = 'test'
dbname = 'test'
port = '5432'
schema = 'test'

url = 'postgresql://{user}:{password}@localhost:{port}/{dbname}'.format(**locals())

create_schema_sql = 'CREATE SCHEMA IF NOT EXISTS {schema_name}'.format(schema_name=schema)

engine = create_engine(url)
metadata = MetaData()
table_one = Table('table_one', metadata,
    Column('A', String),
    Column('B', Integer),
    Column('C', Integer),
    schema = schema
)

table_two = Table('table_two', metadata,
  Column('A', String),
  Column('B', Integer),
  Column('D', Integer),
  schema = schema                  
)

with engine.connect() as conn:
    conn.execute(create_schema_sql)
    
metadata.create_all(engine)

df_one = DataFrame.from_records(
    [
        ('a',1,1,),
        ('a',2,2,),        
        ('b',1,3,),                
        ('b',2,4,),   
    ]
    ,columns = ['a','b','c']
)
df_one


df_two = DataFrame.from_records(
    [
        ('a',1,11,),
        ('a',2,22,),        
        ('b',1,33,),                
        ('b',2,44,)      
    ]
    ,columns = ['a','b','d']
)
df_two

with engine.connect() as conn:
    df_one.to_sql('table_one', engine, if_exists = 'replace', schema = schema,index = False)
    df_two.to_sql('table_two', engine, if_exists = 'replace', schema = schema, index = False)

In [ ]:
select 
    t.a
from
(
    select
        *
    from
        table_one
        full join
        table_two
        on table_one.a=table_two.a and table_one.b=table_two.b
) t;

In [120]:
# astype(object)

In [121]:
import numpy as np
import pandas as pd

In [122]:
from sqlalchemy import case, literal, cast, literal_column, String, create_engine, MetaData, Table, select, and_, or_, func
import pandas as pd

import os
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime, date

# PITFALL_1

## np.nan vs None
### 往数据库中写入时np.nan不可处理，需转换成None

在pandas.DataFrame中，np.nan和None是等价的。

但是，column.type是float64时，是以np.nan形式存在的；column.type是object时，是以None存在的。

而往数据库里insert(dataframe.to_records('dict'))时，存在np.nan会报错。必须转化成None。

to_sql中的表现

In [123]:
df = pd.DataFrame({'A':[np.nan, 1, 2], 'B':[1,2,None]})
print(df)
for column in df:
    print(df.loc[df[column].isnull(),column])

     A    B
0  NaN  1.0
1  1.0  2.0
2  2.0  NaN
0   NaN
Name: A, dtype: float64
2   NaN
Name: B, dtype: float64

In [124]:
type(df['A'].iloc[0])

numpy.float64

In [125]:
type(df['B'].iloc[2])

numpy.float64

In [126]:
df = pd.DataFrame({'A':[np.nan, 1, 2], 'B':[1,2,None]})
print(df)
for column in df:
    print(df.loc[pd.isnull(df[column]),column])

     A    B
0  NaN  1.0
1  1.0  2.0
2  2.0  NaN
0   NaN
Name: A, dtype: float64
2   NaN
Name: B, dtype: float64

In [127]:
df = pd.DataFrame({'A':[np.nan, '1', '2'], 'B':['1','2',None]})
print(df)

for column in df:
    df.loc[pd.isnull(df[column]),column] = None
    df[column] = df[column].astype(float)
df

     A     B
0  NaN     1
1    1     2
2    2  None

     A    B
0  NaN  1.0
1  1.0  2.0
2  2.0  NaN

In [128]:
df = pd.DataFrame({'A':[np.nan, '1', '2'], 'B':['1','2',None]})
print(df)

for column in df:
    df[column] = df[column].astype(float)
    df.loc[pd.isnull(df[column]),column] = None
df

     A     B
0  NaN     1
1    1     2
2    2  None

     A    B
0  NaN  1.0
1  1.0  2.0
2  2.0  NaN

In [129]:
df = pd.DataFrame({'A':[np.nan, '1', '2'], 'B':['1','2',None]})
print(df)

for column in df:
    df.loc[pd.isnull(df[column]),column] = None
    df[column] = df[column].astype(object)
df

     A     B
0  NaN     1
1    1     2
2    2  None

      A     B
0  None     1
1     1     2
2     2  None

# PITFALL_2
## 判断两个dataframe是否相同
__注意行和列的顺序都要一致,且数据类型要一致。__
* assert df1.equals(df2) 
* np.testing.assert_equal(df1.values, df2.values)

pandas中默认空值=空值（np.nan 和 None等价），np认为它们不一样

df1.values == df2.values 无法处理空值的情况，慎用！

In [130]:
df1 = pd.DataFrame({'A':[1,3,2],'B':[4,6,None]})
df2 = pd.DataFrame({'A':[1,2,3],'B':[4,None,6]})

In [131]:
df2.dtypes

A      int64
B    float64
dtype: object

In [132]:
df1

   A    B
0  1  4.0
1  3  6.0
2  2  NaN

In [133]:
df2

   A    B
0  1  4.0
1  2  NaN
2  3  6.0

In [134]:
df2.values

array([[  1.,   4.],
       [  2.,  nan],
       [  3.,   6.]])

In [135]:
df1.sort_values('A').values == df2.values

array([[ True,  True],
       [ True, False],
       [ True,  True]], dtype=bool)

In [136]:
df2.equals(df1) #错误原因：顺序不对

False

In [137]:
df2.equals(df1.sort_values('A')) #顺序对了，但是index不一致

False

In [138]:
new_df1 = df1.sort_values('A').reset_index().drop('index', axis=1)
new_df2 = df2.sort_values('A').reset_index().drop('index', axis=1)
new_df2.equals(new_df1)#此方法是先排序再删掉index再重构index

True

In [139]:
np.testing.assert_equal(df1.sort_values('A').values, df2.values)
#此方法只要顺序对了就好，index不影响，但是存在下面的问题

### 类型一致时：pandas中默认空值=空值（np.nan 和 None等价），np认为它们不一样

In [140]:
df4 = df2.copy()
df4['B']=df4['B'].astype(object)
df4.dtypes

A     int64
B    object
dtype: object

In [141]:
df4

   A    B
0  1    4
1  2  NaN
2  3    6

In [142]:
df3=df4.copy()
df3.loc[1,'B']=None
df3

   A     B
0  1     4
1  2  None
2  3     6

In [143]:
df3.dtypes

A     int64
B    object
dtype: object

In [144]:
df3.equals(df4)

True

In [146]:
np.testing.assert_equal(df3.values, df4.values)

AssertionError:
Arrays are not equal

(mismatch 16.66666666666667%)
 x: array([[1, 4.0],
       [2, None],
       [3, 6.0]], dtype=object)
 y: array([[1, 4.0],
       [2, nan],
       [3, 6.0]], dtype=object)

# PIDFALL_3
## 列名重复问题

在panda中，表格merge之后，不同表中的相同名字的列会被以_x,_y结尾保留下来，

但在sqlalchemy中，列名还维持在原来的状态，编写sql语句时不会报错，但是拉取数据结果时，会报错

In [147]:
df5 = pd.DataFrame({'A':['a','b','c'],'B':['x','y','x'],'C':[4,6,7]})
df6 = pd.DataFrame({'B':['x','y','x'],'C':[4,6,8]})

In [148]:
df5

   A  B  C
0  a  x  4
1  b  y  6
2  c  x  7

In [149]:
df6

   B  C
0  x  4
1  y  6
2  x  8

In [150]:
df5.merge(df6,on='B',how='left')

   A  B  C_x  C_y
0  a  x    4    4
1  a  x    4    8
2  b  y    6    6
3  c  x    7    4
4  c  x    7    8

In [151]:
engine = create_engine('postgresql://datascience:Jrsjkxzbbd2333@localhost/etl')

In [152]:
df5.to_sql('df5',engine,index=False,if_exists='replace')
df6.to_sql('df6',engine,index=False,if_exists='replace')

In [153]:
metadata=MetaData(engine)
table5 = Table('df5',metadata,autoload=True)
table6 = Table('df6',metadata,autoload=True)

In [154]:
s = select([table5, table6]).where(table5.c.B == table6.c.B).alias()

In [155]:
print(s.c.keys()) # 是否有columns的attribute

['A', 'B', 'C']

In [ ]:
# 在数据库中直接跑sql的情况

In [156]:
pd.read_sql(s,engine)

   A  B  C  B  C
0  a  x  4  x  4
1  a  x  4  x  8
2  c  x  7  x  4
3  c  x  7  x  8
4  b  y  6  y  6

什么鬼？两个B，而且C不会改名字！！！我要把B拉出来看看～

In [157]:
pd.read_sql(select([s.c.B]),engine)#B拉不出来，因为有两个B，不知道拉哪个，尽管两个B的值是一样的

ProgrammingError: (psycopg2.ProgrammingError) column reference "B" is ambiguous
LINE 1: SELECT anon_1."B"
               ^
 [SQL: 'SELECT anon_1."B" \nFROM (SELECT df5."A" AS "A", df5."B" AS "B", df5."C" AS "C", df6."B" AS "B", df6."C" AS "C" \nFROM df5, df6 \nWHERE df5."B" = df6."B") AS anon_1']

In [158]:
print(sql.compile(compile_kwargs={"literal_binds": True}))

df5 LEFT OUTER JOIN df6 ON df5."B" = df6."B"

# PIDFALL_4

In [159]:
df7 = pd.DataFrame({'A':['a','b','c'],'B':['x','y',None],'C':[4,6,7]})
df8 = pd.DataFrame({'A':['a','b','c'],'B':['x','y',None],'D':[1,2,3]})

In [160]:
df7

   A     B  C
0  a     x  4
1  b     y  6
2  c  None  7

In [161]:
df8

   A     B  D
0  a     x  1
1  b     y  2
2  c  None  3

In [162]:
df7.merge(df8,on=['A','B'],how='left')

   A     B  C  D
0  a     x  4  1
1  b     y  6  2
2  c  None  7  3

In [163]:
df7.to_sql('df7',engine,index=False,if_exists='replace')
df8.to_sql('df8',engine,index=False,if_exists='replace')

table7 = Table('df7',metadata,autoload=True)
table8 = Table('df8',metadata,autoload=True)

In [164]:
s = select(
    [
        table7, 
        table8.c.D
    ]
).where(
    and_(
        table7.c.B == table8.c.B,
        table7.c.A == table8.c.A
    )
).alias()

In [165]:
pd.read_sql(s,engine)

   A  B  C  D
0  a  x  4  1
1  b  y  6  2

In [166]:
s2 = select(
    [
        table7, 
        table8.c.D
    ]
).select_from(
    table7.outerjoin(
        table8,
        and_(
            table7.c.B == table8.c.B,
            table7.c.A == table8.c.A
        )
    )
).alias()

In [167]:
pd.read_sql(s2,engine)

   A     B  C    D
0  a     x  4  1.0
1  b     y  6  2.0
2  c  None  7  NaN

In [168]:
s3 = select(
    [
        table7, 
        table8.c.D
    ]
).select_from(
    table7.outerjoin(
        table8,
        and_(
            table7.c.B == table8.c.B,
            table7.c.A == table8.c.A
        ),full=True
    )
).alias()

In [169]:
pd.read_sql(s3,engine)

      A     B    C    D
0     a     x  4.0  1.0
1     b     y  6.0  2.0
2     c  None  7.0  NaN
3  None  None  NaN  3.0

若想要pandas里面的效果，即None=None，

In [170]:
s4 = select(
    [
        table7, 
        table8.c.D
    ]
).select_from(
    table7.outerjoin(
        table8,
        and_(
            
            table7.c.A == table8.c.A,
            or_(
                table7.c.B == table8.c.B,
                and_(
                    table7.c.B ==None,
                    table8.c.B ==None
                )
            )
        )
    )
).alias()

In [171]:
pd.read_sql(s4,engine)

   A     B  C  D
0  a     x  4  1
1  b     y  6  2
2  c  None  7  3

In [173]:
metadata.drop_all(engine, checkfirst=True)

In [4]:
from pandas import Series
from numpy import NaN

In [7]:
s = Series([None, NaN, 'a'])
s

0    None
1     NaN
2       a
dtype: object

In [8]:
s == None

0    False
1    False
2    False
dtype: bool

In [9]:
s == NaN

0    False
1    False
2    False
dtype: bool

In [10]:
s.isnull()

0     True
1     True
2    False
dtype: bool

In [11]:
s is None

False

In [16]:
s.apply(lambda s:s is None)

0     True
1    False
2    False
dtype: bool

In [12]:
a = [1,2]

b = [1,2]

In [13]:
a==b

True

In [14]:
a is b

False

In [15]:
a = [1,2]

b = a

a is b

True

In [17]:
from pandas import DataFrame

In [18]:
a=DataFrame(index=[1,2,3,4,5])

In [19]:
b=DataFrame(index=['1','2','3','4','5'])

In [20]:
a

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5]

In [21]:
b

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5]

In [ ]:
and  &

a={'c':1233}
a=None

if （a is not None） & a['c'] =1233 :
    
if pd.notnull(a) and a['c'] =1233 :

In [23]:
s1 = Series([1,2,3])
s2 = Series([])

In [24]:
s2 and s1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
bool([1,2,3] and [])

False

In [26]:
[1,2,3] or []

[1, 2, 3]

In [30]:
x  = [1,2,3,4]


x or [1,1,1]

[1, 2, 3, 4]

In [33]:
s1 = Series([True, False])
s1

0     True
1    False
dtype: bool

In [35]:
s2 = Series([True, True])
s2

0    True
1    True
dtype: bool

In [38]:
s1&s2

0     True
1    False
dtype: bool