In [2]:
2 + 3

5

In [3]:
2 + 3
1 + 2

3

In [4]:
2 + 3;

In [5]:
print(2 + 3)
1 + 2

5

3

In [7]:
from IPython.display import display

In [10]:
display(2 + 3)
1 + 2

5

3

In [11]:
from pandas import DataFrame

df = DataFrame({'A':[1,2,3], 'B':[2,3,4]})
df

   A  B
0  1  2
1  2  3
2  3  4

In [12]:
display(df)

   A  B
0  1  2
1  2  3
2  3  4

In [13]:
print(df)

   A  B
0  1  2
1  2  3
2  3  4

In [14]:
1 + 1

2