In [63]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np
import datetime

# Timestamp

In [64]:
pd.Timestamp('2018-01-01')

Timestamp('2018-01-01 00:00:00')

In [65]:
pd.to_datetime('2010/1/1', format='%Y/%m/%d')

Timestamp('2010-01-01 00:00:00')

## Properties

In [66]:
ts= pd.Timestamp('2018-01-01')

In [67]:
ts.weekofyear

1

## Conversion
### From number

In [68]:
pd.to_datetime(1490195805.433, unit='s')

Timestamp('2017-03-22 15:16:45.433000088')

Conversion of float epoch times can lead to inaccurate and unexpected results. Python floats have about 15 digits precision in decimal. Rounding during conversion from float to high precision Timestamp is unavoidable. The only way to achieve exact precision is to use a fixed-width types (e.g. an int64).

In [69]:
pd.to_datetime(1490195805433502912, unit='ns')

Timestamp('2017-03-22 15:16:45.433502912')

Use origin to specify a alternative starting point. It defaults to 1970-01-01 00:00:00. Commonly called ‘unix epoch’ or POSIX time.

In [70]:
pd.to_datetime(1, unit='D', origin=pd.Timestamp('1960-01-01'))

Timestamp('1960-01-02 00:00:00')

### From string

In [71]:
pd.to_datetime('2010/1/1', format='%Y/%m/%d')

Timestamp('2010-01-01 00:00:00')

In [72]:
pd.to_datetime('2018-01-01')

Timestamp('2018-01-01 00:00:00')

# Create TimeSeries

## to_datetime

```pd.to_datetime``` support differnet time representation

In [73]:
dti = pd.to_datetime(
    [
        '1/1/2018',
        '2018-1-1',
        np.datetime64('2018-01-01'), 
        datetime.datetime(2018, 1, 1)
    ]
)
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

### Erorr handling

In [74]:
pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

Index(['2009/07/31', 'asd'], dtype='object')

In [75]:
pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

Note: Missing values is ```pd.NaT```

In [76]:
try:
    pd.to_datetime(['2009/07/31', 'asd'], errors='raise')
except Exception as e:
    print(e)

('Unknown string format:', 'asd')

## generate date range

### use date_range

For more available freq, see here []()

In [77]:
dti = pd.date_range('2018-01-01', periods=3, freq='H')
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

### bdate_range

In [78]:
weekmask = 'Mon Wed Fri'

start = datetime.datetime(2011, 1, 1)

end = datetime.datetime(2012, 1, 1)

holidays = [datetime.datetime(2011, 1, 5), datetime.datetime(2011, 3, 14)]

pd.bdate_range(start, end, freq='C', weekmask=weekmask, holidays=holidays)

DatetimeIndex(['2011-01-03', '2011-01-07', '2011-01-10', '2011-01-12',
               '2011-01-14', '2011-01-17', '2011-01-19', '2011-01-21',
               '2011-01-24', '2011-01-26',
               ...
               '2011-12-09', '2011-12-12', '2011-12-14', '2011-12-16',
               '2011-12-19', '2011-12-21', '2011-12-23', '2011-12-26',
               '2011-12-28', '2011-12-30'],
              dtype='datetime64[ns]', length=154, freq='C')

### frequency alias
[Frequency Alias](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

## assembling from dataframe columns

In [79]:
df = pd.DataFrame(
    {'year': [2015, 2016],
    'month': [2, 3],
    'day': [4, 5],
    'hour': [2, 3]
    }
)


pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

* required: year, month, day
* optional: hour, minute, second, millisecond, microsecond, nanosecond

# Use date index
## creation
### conversion

Similiar to ```pd.to_datetime```

In [102]:
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], freq='infer')

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq='2D')

### from a seires of date

In [103]:
start = datetime.datetime(2019,1,1)
end = datetime.datetime(2019,1,7)
pd.DatetimeIndex(pd.date_range(start=start, end=end))

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

## Partial String Index

In [106]:
start = '2019-01-30'
end = '2019-02-1'

rng = pd.date_range(start, end, freq='12h')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2019-01-30 00:00:00   -1.434660
2019-01-30 12:00:00    0.468727
2019-01-31 00:00:00   -0.884361
2019-01-31 12:00:00    0.980564
2019-02-01 00:00:00    0.390413
Freq: 12H, dtype: float64

time used in indexing don't assume 0 for missing time component

In [116]:
ts['2019']

2019-01-30 00:00:00   -1.434660
2019-01-30 12:00:00    0.468727
2019-01-31 00:00:00   -0.884361
2019-01-31 12:00:00    0.980564
2019-02-01 00:00:00    0.390413
Freq: 12H, dtype: float64

Compairison with belowing

In [120]:
ts['1/31/2019']

2019-01-31 00:00:00   -0.884361
2019-01-31 12:00:00    0.980564
Freq: 12H, dtype: float64

In [121]:
ts[datetime.datetime(2019, 1, 31)]

-0.88436116721363

## Exact Slicing

In [ ]:
dft[datetime.datetime(2013, 1, 1, 10, 12, 0):datetime.datetime(2013, 2, 28, 10, 12, 0)]

## Truncate

In [ ]:
rng2 = pd.date_range('2011-01-01', '2012-01-01', freq='W')

ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)

```truncate``` assume 0 for any unspecified date components

In [ ]:
ts2.truncate(before='2011-11', after='2011-12')

In [ ]:
ts2['2011-11':'2011-12']

[frequency alias](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

In [ ]:
One of the main uses for DatetimeIndex is as an index for pandas objects. The DatetimeIndex class contains many time series related optimizations:

A large range of dates for various offsets are pre-computed and cached under the hood in order to make generating subsequent date ranges very fast (just have to grab a slice).
Fast shifting using the shift and tshift method on pandas objects.
Unioning of overlapping DatetimeIndex objects with the same frequency is very fast (important for fast data alignment).
Quick access to date fields via properties such as year, month, etc.
Regularization functions like snap and very fast asof logic.
DatetimeIndex objects have all the basic functionality of regular Index objects, and a smorgasbord of advanced time series specific methods for easy frequency processing.

In [ ]:
rng = pd.date_range(start, end, freq='BM')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

[link](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#time-date-components)

In [ ]:
ts = pd.Timestamp('2014-01-01 09:00')

day = pd.offsets.Day()

day.apply(ts)

In [ ]:
rng = pd.date_range('2012-01-01', '2012-01-03')

s = pd.Series(rng)

s

In [ ]:
rng + pd.DateOffset(months=2)