![logo](python_logo.jpg)

# 面向非程序员的Python编程--迭代1

## 熟悉基本的数据类型

### 整数int

表示一个整数很容易

In [2]:
123

123

对整数进行一些基本的运算

In [3]:
100 + 100 - 200

0

In [7]:
print(1 + 1)
print(2 * 3)
print(2 ** 3) # 2的3次方
print(3 % 2) # 3除以2取余数
print(5 / 2)
print(5 // 2) # 做除法后保留整数

2
6
8
1
2.5
2

 运算优先级

In [11]:
1 + 2 * 3

7

善用()控制优先顺序

In [14]:
1 + ((2 * 3) + (3 / 4))

7.75

## 浮点数float

不同的创建方式

In [16]:
print(1.0)
print(float(1))

1.0
1.0

float可以和int一起参与计算，结果会被处理成float

In [22]:
1 + 4.3

5.3

## 字符串

可以用单引号或者双引号表示字符串

In [24]:
print('yademan')
print("yademan")

yademan
yademan

但是不能混合使用哦

In [26]:
'yademan"

SyntaxError: EOL while scanning string literal (<ipython-input-26-a13b6841177a>, line 1)

如果字符串的内容有单引号，那么可以用双引号去标记字符串；反之亦然

In [28]:
print('my name is "yademan"')
print("my name is 'yademan'")

my name is "yademan"
my name is 'yademan'

如果字符串里面的内容同时有双引号和单引号，为了让python分清哪些引号是内容，哪些只是标记字符串，可以在表示内容的引号前加上\

In [31]:
print('my name is \"yademan\'')
print("my name is \"yademan\'")

my name is "yademan'
my name is "yademan'

可以用 + 连接字符串

In [34]:
'yademan' + '@wacai.com'

'yademan@wacai.com'

猜猜下面的结果?

In [39]:
'哈' * 20 + '!'*5

'哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈!!!!!'

### 定义大段的字符串

如果有一段较长的文本, 写成一行读起来会很费劲。

In [44]:
'Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum stepped down as the leader in the language community after 30 years.'

'Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum stepped down as the leader in the language community after 30 years.'

如果要分行定义字符串的话会报错

In [46]:
'Python is an interpreted high-level programming language for general-purpose programming. 
Created by Guido van Rossum and first released in 1991, 
Python has a design philosophy that emphasizes code readability, 
notably using significant whitespace. 
It provides constructs that enable clear programming on both small and large scales.
[25] In July 2018, Van Rossum stepped down as the leader in the language community after 30 years.'

SyntaxError: EOL while scanning string literal (<ipython-input-46-c8ed37c971e1>, line 1)

可以用`(...)`分行书写这样的长文本。注意行与行之间不能加空格。这段代码和上一段实现的功能一样。

In [49]:
(
    'Python is an interpreted high-level programming language for general-purpose programming.'
    'Created by Guido van Rossum and first released in 1991, '
    'Python has a design philosophy that emphasizes code readability, '
    'notably using significant whitespace. '
    'It provides constructs that enable clear programming on both small and large scales.'
    "[25] In July 2018, Van Rossum stepped down as the leader in the language community after 30 years."
)

'Python is an interpreted high-level programming language for general-purpose programming.Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum stepped down as the leader in the language community after 30 years.'

用`'''...'''`也可以定义大段的文本, 注意使用这种方式， `'''...'''`中包含的空格，换行都会被保留

In [51]:
print(
    '''
    Python is an interpreted high-level programming language for general-purpose programming. 
    
    Created by Guido van Rossum and first released in 1991, Python has a design philosophy that 
    
    emphasizes code readability, notably using significant whitespace. It provides constructs 
    
    that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum 
    
    stepped down as the leader in the language community after 30 years.
    '''
)

    Python is an interpreted high-level programming language for general-purpose programming.

    Created by Guido van Rossum and first released in 1991, Python has a design philosophy that

    emphasizes code readability, notably using significant whitespace. It provides constructs

    that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum

    stepped down as the leader in the language community after 30 years.

In [53]:

'''
Python is an interpreted high-level programming language for general-purpose programming. 

Created by Guido van Rossum and first released in 1991, Python has a design philosophy that 

emphasizes code readability, notably using significant whitespace. It provides constructs 

that enable clear programming on both small and large scales.[25] In July 2018, Van Rossum 

stepped down as the leader in the language community after 30 years.
'''

'\nPython is an interpreted high-level programming language for general-purpose programming. \n\nCreated by Guido van Rossum and first released in 1991, Python has a design philosophy that \n\nemphasizes code readability, notably using significant whitespace. It provides constructs \n\nthat enable clear programming on both small and large scales.[25] In July 2018, Van Rossum \n\nstepped down as the leader in the language community after 30 years.\n'

In [59]:
from pandas import DataFrame

df = DataFrame({'A':[1, 2]})
df

   A
0  1
1  2

In [58]:
df = DataFrame({'    A    ':['1', '2']})
df

      A
0         1
1         2

## 变量

先看下面这段表达式， 大家是否能一眼看出它的意图?

In [61]:
 (((4 + 5 + 6)/2) * ((4 + 5 + 6)/2 - 4) * ((4 + 5 + 6)/2 - 5) * ((4 + 5 + 6)/2 - 6)) ** 0.5

9.921567416492215

实际上上面的表达式的含义是根据三角形的三条边的边长4, 5, 6按照海伦公式计算面积。上面的表达式有很多不足

* 存在很多重复的计算，例如周长的一般(4 + 5 + 6) / 2 被重复计算了3遍
* 整个表达式非常复杂，读起来很费劲(可读性差)

这时候，可以利用编程语言都支持的“变量”这一工具改善这个问题

看下面引入变量的代码

In [74]:
# 用变量a, b, c去指代4,5,6三个数据
a = 4
b = 5
c = 6

# 之后可以用变量去表达计算逻辑， 并且将结果存成其他的变量
half_perimeter = (a + b + c) / 2

surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5
surface

9.921567416492215

In [75]:
part_a = half_perimeter - a
part_b = half_perimeter - b
part_c = half_perimeter - c


surface = (half_perimeter * part_a * part_b * part_c) ** 0.5
surface

9.921567416492215

上面的代码中的a, b, c, half_perimeter, surface就是变量名， 它们让你有机会用一个更有意义的名字去指代数据或者中间计算结果，使用变量的好处
* 取一个更有意义的名字，让代码更容易理解
* 让重要的中间结果可以被保存，避免每次重新倒要重新计算， 例如用half_perimeter表示周长的一半
* 将复杂的运算逻辑拆分几个独立的步骤, 让每一步计算不是那么复杂难懂

如此之外，在变量的帮助下，可以清晰的隔离出代码中容易发生变化的成分和不容易发生变化的成分。

在用海伦公式计算三角形的面积这个需求中，三角形的边长是容易发生变化的，给定边长以后计算面积的逻辑是固定的。下面的代码清晰的分析出了这两部分。

In [76]:
# 三角形的边长是容易改变的部分， 变量接收的是具体的数值
a = 4
b = 5
c = 6

# 给定边长后的计算逻辑是固定的，这里公式自带的常数，没有定死的数值
half_perimeter = (a + b + c) / 2

surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5

如果我们的边长变成了7, 8, 9，我们可以放心的改变的边长的定义，不用去操心后面的计算逻辑

In [78]:
# 边长变成7, 8, 9我们只需要改变开头的定义
a = 7
b = 8
c = 9

# 我们知道不管前面的部分怎么改，后面的逻辑不需要改变。也就不必操心这部分。
half_perimeter = (a + b + c) / 2

surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5

对比一下， 如果没有做好“可变和不变”的分离，那么一旦需求发生改变，那么事情就会很麻烦。

例如如果代码是下面这样，虽然一定程度上利用变量拆分了复杂的计算过程，但是如果要把计算的边长替换成4,5,6，那么就要很小心的去阅读代码，将原先的2,3,4替换掉，同时要保留海伦公式自带的常数2。

这个过程这会消耗不少时间和精力，而且容易无意中改错代码，又需要额外的时间精力去排查和修正错误。

In [79]:
# 并没有将需求中容易变化的边长和剩余的计算逻辑很好的分离，今后边长变化时就得去小心的阅读，理解和修改代码
part_a = (2 + 3 + 4) / 2 - 2
part_b = (2 + 3 + 4) / 2 - 3
part_c = (2 + 3 + 4) / 2 - 4

surface = (part_a * part_b * part_c) ** 0.5

### 变量的定义

看了上面的代码，大家应该很容易观察到 "变量名 = 数值/表达式" 就可以很容易的“定义”一个变量。不管关于“定义变量”，这里有一些细节要注意。

下面的代码运行后，y的取值是多少？

In [83]:
x = 3
y = x
x = 5
y

3

如果认为y是5的话，那么很遗憾，答错了。

这里我们要更仔细的去理解'='的含义

'变量名 = 数值'这个表达式， 可以把变量名想象成一个标签，贴在数值上，以后我们就可以用这个标签去指代这个数据。

In [84]:
x = 3 # 以后可以用x去代表3, x-->3

'变量名A = 变量名B'的表达式里， 变量名A会去找到变量名B指代的数据，然后也成为这个数据的标签， 之后可以同时用变量名A和变量名B去指代这个数据。

In [85]:
y = x # y发现=右侧的x是另一个变量名，那么会找到x所指的数据3, 也指向它。 x-->3<--y

如果之后运行x = 5， 相当于把x这个标签从数值3上面“揭下”, 重新贴到数值5上面。这个过程并不会影响y继续“贴在”3上。

In [86]:
x = 5 # x, y分别指向不同的数值， x-->3, y-->5

##  python对缩紧有严格要求

python对于空格，tab有严格的要求

In [89]:
x = 1
    y = 2

IndentationError: unexpected indent (<ipython-input-89-5aab6bebd8ca>, line 2)

In [90]:
x = 1
 y = 2

IndentationError: unexpected indent (<ipython-input-90-f503d74ec970>, line 2)

## 更多的数据类型

### 列表list

如果需要记录多个人的名字，怎么办?

In [105]:
name_1 = 'John'
name_2 = 'Jack'
name_3 = 'Lily'
name_4 = 'Ben'
name_5 = 'Jay'

# ....

如果有很多的名字，显然这不是一个好方法， 这种场合下可以使用list来记录多个数据

In [106]:
names = [
    'John',
    'Jack',
    'Lily',
    'Ben',
    'Jay'
]

names

['John', 'Jack', 'Lily', 'Ben', 'Jay']

对于list常见的操作

取出特定位置的元素，注意位置编号是从0开始的

In [107]:
names[0] #取出第一个元素

'John'

可以用'-'从末尾往前取

In [108]:
names[-1] # 取出最后一个元素

'Jay'

用m:n的语法选出一段下标范围内的元素，注意下标m对应的元素会被包括在结果中，但是下标n对应的元素会被排除。

In [109]:
names[2:4] # 选出下标是2和3的元素, 相当于原来list中第3, 4个元素

['Lily', 'Ben']

隔开一个取出元素

In [110]:
names[0:6:2] #取出下表是0,2,4的元素

['John', 'Lily', 'Jay']

可以忽略起止位置，只填写间隔，例如

In [111]:
names[::2] #取出下标是0, 2, 4的元素

['John', 'Lily', 'Jay']

取出所有元素...似乎在干无意义的事儿

In [112]:
names[::1] # 相当于names[0:5:1]

['John', 'Jack', 'Lily', 'Ben', 'Jay']

可是间隔为-1时，可以很方便的调转原来list的顺序哦

In [113]:
names[::-1] #相当于names[-1:-6:-1]

['Jay', 'Ben', 'Lily', 'Jack', 'John']

添加一个元素

在末尾添加

In [114]:
names.append('Mary')
names

['John', 'Jack', 'Lily', 'Ben', 'Jay', 'Mary']

在指定位置添加

In [115]:
names.insert(2, 'Zack')
names

['John', 'Jack', 'Zack', 'Lily', 'Ben', 'Jay', 'Mary']

合并两个list

In [116]:
names

['John', 'Jack', 'Zack', 'Lily', 'Ben', 'Jay', 'Mary']

list中可以嵌套list

In [117]:
[1, 2, 3, [4, 5, 6]]

[1, 2, 3, [4, 5, 6]]

下面我们在来做一个小测试。下面的代码运行后，another_names[0]的结果是什么?

In [118]:
names = names = [
    'John',
    'Jack',
    'Lily',
    'Ben',
    'Jay'
]
another_names = names
names[0] = 'Amanda'

运行后这里会发现another_names[0]的结果是'John'。结合前面的例子

In [119]:
x = 3
y = x
x = 5

大家可能会觉得疑惑，上面的例子里运行x = 5以后并不会影响y，为什么这里names[0] = 'Amanda'会影响another_names[0]?

这里的区别是, names是变量名，但是names[0]并不是一个变量名

names[0] = 'Amanda'这句在运行的时候， 含义并不是将一个变量名指向一个数据， 而是将names所指的list的第一个的位置的元素修改成Amanda。由于another_names和names都指向同一个list，所以对names的修改会反应在another_names上。

'='表达式到底是修改数据还是让变量名赋值给一个数值？ 区分这两种情况的关键是看"="左边是否是一个纯粹的变量名。

### 元组tuple

和list相似，可以作为容纳多个数据的容器

In [120]:
t = (1, 2)
t

(1, 2)

但是tuple是不能修改的

In [121]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

有多种创建方式

In [ ]:
t = (1, 2)
t = 1, 2 
t = tuple([1, 2])

如果tuple只有一个元素，必须在元素的结尾添加逗号

In [ ]:
t = (1) # 不会创建tuple, 结果创建了一个int 1
t

In [ ]:
t = (1,) #会创建tuple, 里面有一个int 1
t

对应的，python代码中要小心不要错误的使用逗号， 例如下面把字符串首字母大写的代码

In [ ]:
name = 'john'
name.capitalize()

下面的代码会出错，因为name指向的不在是'John'这个字符串，而是一个tuple。 这也是之前分行定义代码时每行之间不能添加逗号的原因，那样定义的就不是一个字符串，而是tuple

In [ ]:
name = 'john',  #小心别不小心在代码中添加不该加的逗号
name.capitalize()

In [ ]:
name = 'john',  #不要创建tuple的时候别加逗号
name[0].capitalize()

一个常见的需求是将tuple中的数据拆掉包装，定义给不同的变量。 例如下面的tuple, 我们希望把里面的数据分别用record_id, name, age去接收

In [ ]:
record = (1, ('John', 32))

下面这样是可以的

In [ ]:
record_id = record[0]
name = record[1][0]
age = record[1][1]

但是这里可以用tuple unpacking的技巧让代码更加的简洁

In [ ]:
record_id, (name, age) = record

print(record_id)
print(name)
print(age)

这里的关键是让左边的变量组成和右边结构一样的tuple即可

另一个经典应用, 交换a, b的数值。 这个在C语言中是一个经典的练习，必须借助中间变量完成。

In [ ]:
a = 1
b = 2

tmp = a
a = b
b = tmp

print(a, b)

python中利用tuple unpacking只需要

In [ ]:
a, b = b, a # 别忘了b, a也是定义了一个tuple哦

print(a, b)

等价但是看上去啰嗦些的方式

In [ ]:
(a, b) = (b, a) # 别忘了b, a也是定义了一个tuple哦

print(a, b)

甚至可以一次交换多个变量的数值

In [ ]:
a = 1
b = 2
c = 3

b, c, a = a, b, c

print(a)
print(b)
print(c)

## for循环

编程之所以有自动化重复冗余工作的潜力，很大程度上归功于能够自动的对一个范围，或者一个容器中的数据自动的一个一个的访问，并且进行某种操作。

python中for循环语法可以很方便的对list或者tuple中每一个元素进行遍历。

In [ ]:
names = ['Amanda', 'Jack', 'Lily', 'Ben', 'Jay']

for name in names: # 定义for循环，这里names是包含多个数据的容器，name是每次访问一个容器中的数据后，临时给他的变量名。
    new_name = name.capitalize() # 定义每次访问了一个元素后，要做什么操作。这里我们将name首字母大写并print
    print(new_name)

这里语法上要注意:
* 定义for循环的行最后一定用':'结尾
* 定义for循环内容的部分，一定要有缩进


python中有个规律, 一旦结尾需要:结尾， 那么下面的代码也需要有一级缩进

In [ ]:
for name in names: #注意结尾的:
    new_name = name.capitalize() #这里开始相对for循环的定义行，要有一级缩进
    print(new_name)    
print('This line is out of for loop') # 从缩进就可以看出，这一行不属于for循环的内容

注意前面介绍的tuple unpacking的技巧，可以用在for循环中哟

In [ ]:
records = [
    (1, ('John', 32, 'male')),
    (2, ('Tom', 19, 'male')),
    (3, ('Lily', 23, 'female'))
]


for record_id, (name, age, sex) in records:
    print(name, age, sex)

上面的简便写法和下面是一样的。

In [ ]:
for record in records:
    record_id, (name, age, sex) = record
    print(name, age, sex)

## 条件判断
循环给编程带来了代替人工，自动化做重复劳动的能力。 那么条件判断则给编程带来根据不同的场景，做出不同处理的重要能力。

下面的代码中，我们希望判断数字是奇数还是偶数。

In [ ]:
x = 3

# if必须的， elif和else可选的
if x % 2 == 1: # 除以二以后余数是1，那么执行下面分值的语句
    print('x is odd number')
elif x % 2 == 0: # 偶数除以二以后余数是0，那么执行下面分值的语句
    print('x is even number')
else: # 如果上面所有的情况都不满足，，那么执行下面分值的语句
    print('x is not integer')

这里有几点要注意的地方:
* 这里注意, 判断一个变量是否等于某个数值的时候， 用"=="， 而不是"="
* 关于结尾的":"，以及接下来的一级缩进，和for循环是类似的。
* if条件判断的多个分支中，只有一个会被执行
* if和elif部分，都需要提供条件判断的语句；else不需要

if语句中, elif和else都是可选的部分，不一定非要有。

In [ ]:
x = 0
if x == 0:
    print('x is 0')

一个常见的需求是，将若干简单的条件判断组合成一个复杂的条件判断。可以用and表示且，or表示或,not表示否

In [ ]:
x = 5

print((x > 3) and (x % 2 == 0) )
print((x > 3) or (x % 2 == 0))
print(not (x > 3))

建议用含义明确的变量名代替逻辑表达式， 让代码容易理解

In [ ]:
bigger_than_3 = x > 3
is_even = (x % 2 == 0)

print(bigger_than_3 and is_even)
print(bigger_than_3 or is_even)
print(not bigger_than_3)

## 函数的定义

回到一开始海伦公式的例子

In [ ]:
a = 3
b = 4
c = 5

half_perimeter = (a + b + c) / 2
surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5

虽然这段代码做到了将可变成分和固定成分分离，但是如果代码中多次要使用这个计算怎么办？

复制黏贴？好吧，是个办法。但是复制黏贴有很大的缺点。我们想对这代码进行修改的时候，例如在计算面积前先判断三角形的边长是否合理。如果用复制黏贴的方式，那么之后修改逻辑时，就得找到所有的相关代码进行修改。

如果我们要重复利用一段相同的计算逻辑， 我们可以把相关的逻辑定义成一个函数，之后只要反复调用这个函数即可。

In [ ]:
# 用def关键词开始函数的定义
def triagle_surface(a, b, c): # 函数定义的要素是，函数名，参数列表。
    half_perimeter = (a + b + c) / 2
    surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5
    
    return surface # 记得将感兴趣的值用return返回

In [ ]:
triagle_surface(4, 5, 6)

In [ ]:
triagle_surface(3, 4, 5)

定义函数有很多好处，如果我们希望让这个函数计算面积前先检验三角形边长是否合理并提示，只需要修改函数的定义，不用修改调用这个函数的代码。

In [ ]:
# 用def关键词开始函数的定义
def triagle_surface(a, b, c): # 函数定义的要素是，函数名，参数列表。
    all_positive = (a > 0) and (b > 0) and (c > 0)
    if (a + b > c) and (a + c > b) and (c + b > a) and all_positive:
        print('Edge lengths are valid')
    else:
        print('Edge lengths are invalid')       
    
    
    half_perimeter = (a + b + c) / 2
    surface = (half_perimeter * (half_perimeter - a) * (half_perimeter - b) * (half_perimeter - c)) ** 0.5
    
    return surface # 记得将感兴趣的值用return返回

In [ ]:
triagle_surface(4, 5, 6)

In [ ]:
triagle_surface(4, 5, 11)

此外，定义函数后，可以通过取合适的函数名表达意图，忽略不重要的细节。上面定义了这个函数后，我们很明确的知道目的是用三角形的三条边计算面积，不必每次都要和计算的细节逻辑纠缠在一起。

此外，函数中的变量名有自己的作用域，可以和函数外的变量名隔离。这样不同地方的变量名就不容易"撞车"。

打个比方，如果A， B两个班级都有叫”蔡俊杰“的学生。A班上课的时候，老师提问叫”蔡俊杰“的时候，大家都知道指的不是B班的”蔡俊杰“，因为大家知道（可能是潜意识的），老师只会叫A班中的学生。

In [ ]:
def add_one(x):
    x  = x + 1
    print('x result in add_one')
    print(x)
    return x

def add_two(x):
    x = x + 2
    print('x result in add_two')    
    print(x)
    return x
    
x = 2

y = add_one(x)
z = add_two(x)

print(x)

函数中如果用到了一个变量名，但是函数中找不到的话，会尝试找函数外定义的变量名。

In [ ]:
x = 1

def add(y):
    return y + x

def subtract(y):
    return y - x

print(add(10))
print(subtract(10))

虽然这么做会带来一些方便， 例如多个函数都需要接受x， 用上面的方法可以让函数的参数列表得到简化

In [ ]:
x = 1

def add(y, x):
    return y + x

def subtract(y, x):
    return y - x

print(add(10, x))
print(subtract(10, x))

但是请避免这样使用，因为这会导致函数无法移植到其他代码，让代码难以被重复利用。之后我们有更好的策略去解决避免在多个函数重复定义和传入相同的函数的问题。

调用的参数的时候，传入的数据是根据位置和参数列表的变量名匹配的。这种参数被称为positional arguments

In [ ]:
def my_function(a, b, c):
    return a + b * c

my_function(1, 2, 3) # 1对应a, 2对应b, 3对应c

除此之外，定义函数的时候也可以定义一些keyword arguments，这部分参数可以提供默认值，调用时不指定这部分参数的数值，就会采用默认值。

In [ ]:
def my_power_function(x, p=3):
    return x ** p

In [ ]:
my_power_function(2, p=4)

In [ ]:
my_power_function(2)