![logo](python_logo.jpg)

In [4]:
import pandas as pd

In [5]:
from pandas import Series

In [10]:
data = pd.read_csv('test_full_data.csv')

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,dataset_name
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,train
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,train
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,train
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,train
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,train

# 观察数据

In [11]:
data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,dataset_name
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,train
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,train
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,train
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,train
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,train

观察数据类型

In [13]:
dtype = data.dtypes
dtype

Age             float64
Cabin            object
Embarked         object
Fare            float64
Name             object
Parch             int64
PassengerId       int64
Pclass            int64
Sex              object
SibSp             int64
Survived        float64
Ticket           object
dataset_name     object
dtype: object

观察数据，提出假设，验证假设

通过少量数据， 我们可以观察到数据的不少特点，并且设计下一步数据清洗和处理的方案

1. PassengerId可能是和passenger一一对应的编号，它的数值本身无特别意义
2. Survived, Class尽管被识别成了数值，但是可能只是分类变量， 数值大小无特别意义。可以读取的时候当做字符处理。
3. Name包含姓, 称号， 名，可能会额外的在括号中补充别的信息
4. Ticket包含一段字符和一串数字， 字符不一定有； 如果有的话，用空格分割
5. Cabin中如果非空， 取值包含一个首字母和数字
6. 其他(大家请补充)...



当然从5行数据观察到的特点，不一定能代表所有数据的情况。但是会启发我们下一步怎么做。

针对第1, 2两点，为了确定每一列的数据到底是数值还是分类， 我想到的策略是:

计算每一列去重以后取值的个数， 一般来说，分类型特征去重以后取值的个数会远小于样本的数量。

而唯一的取值id一般和数据行一一对应， 所以数量会和样本数量一致。

In [3]:
for column_name in data.select_dtypes(include=['number']).columns: 
    print(column_name)
    print(data[column_name].nunique())
    print('--------------------')

Age
98
--------------------
Fare
281
--------------------
Parch
8
--------------------
PassengerId
1309
--------------------
Pclass
3
--------------------
SibSp
7
--------------------
Survived
2
--------------------

这里我们可以看到，Survived, Pclass, sibSp, Parch可能只是用不同的数值代表不同的分类，数值大小并无特别意义。而自动id一般没有分析的意义。

我们可以指定数据类型后重新读取数据。

In [4]:
data = pd.read_csv('test_full_data.csv', dtype={'Survived':str, 'Pclass':str, 'SibSp':str, 'Parch':str, 'SibSp':int})
data.head()

def to_int_01(x):
    try:
        return int(float(x))
    except (TypeError, ValueError):
        return None
    
data['Survived'] = data['Survived'].apply(to_int_01)

看上去一样？检查一下dtypes

In [5]:
data.dtypes

Age             float64
Cabin            object
Embarked         object
Fare            float64
Name             object
Parch            object
PassengerId       int64
Pclass           object
Sex              object
SibSp             int32
Survived        float64
Ticket           object
dataset_name     object
dtype: object

接下来处理Ticket， 对每一个取值进行分析。

In [6]:
s = "21171 dasdas dasdad"


def ticket_analysis(s, unexpects):
    try:
        if s.startswith('STON/O 2.'):
            return 'STON/O 2.', s[-7]
        
        if s.startswith('LINE'):
            return 'LINE', None
        
        if s.startswith('SC/AH Basle'):
            return 'SC/AH Basle', None
        
        splitted = s.split(' ')

        ticket_type = None
        ticket_number = None
        if len(splitted) == 1:
            ticket_number = int(splitted[0])
        elif len(splitted) == 2:
            ticket_type = [splitted[0], splitted[1]]
        else:
            raise ValueError
        return ticket_type, ticket_number
    except:
        unexpects.append(s)
        return None, None

In [7]:
unexpects = []
data['Ticket'].apply(lambda s:ticket_analysis(s, unexpects))

0                ([A/5, 21171], None)
1                 ([PC, 17599], None)
2         ([STON/O2., 3101282], None)
3                      (None, 113803)
4                      (None, 373450)
5                      (None, 330877)
6                       (None, 17463)
7                      (None, 349909)
8                      (None, 347742)
9                      (None, 237736)
10                 ([PP, 9549], None)
11                     (None, 113783)
12               ([A/5., 2151], None)
13                     (None, 347082)
14                     (None, 350406)
15                     (None, 248706)
16                     (None, 382652)
17                     (None, 244373)
18                     (None, 345763)
19                       (None, 2649)
20                     (None, 239865)
21                     (None, 248698)
22                     (None, 330923)
23                     (None, 113788)
24                     (None, 349909)
25                     (None, 347077)
26                       (None, 2631)
27                      (None, 19950)
28                     (None, 330959)
29                     (None, 349216)
                    ...
1279                   (None, 364858)
1280                   (None, 349909)
1281                    (None, 12749)
1282              ([PC, 17592], None)
1283             ([C.A., 2673], None)
1284            ([C.A., 30769], None)
1285                   (None, 315153)
1286                    (None, 13695)
1287                   (None, 371109)
1288                    (None, 13567)
1289                   (None, 347065)
1290                    (None, 21332)
1291                    (None, 36928)
1292                    (None, 28664)
1293                   (None, 112378)
1294                   (None, 113059)
1295                    (None, 17765)
1296         ([SC/PARIS, 2166], None)
1297                    (None, 28666)
1298                   (None, 113503)
1299                   (None, 334915)
1300    ([SOTON/O.Q., 3101315], None)
1301                   (None, 365237)
1302                    (None, 19928)
1303                   (None, 347086)
1304             ([A.5., 3236], None)
1305              ([PC, 17758], None)
1306    ([SOTON/O.Q., 3101262], None)
1307                   (None, 359309)
1308                     (None, 2668)
Name: Ticket, Length: 1309, dtype: object

In [8]:
def ticket_analysis(s, unexpects):
    try:
        if ',' in s:
            splitted = s.split(',')
            return split[0], split[1]
        
        if s.startswith('STON/O 2.'):
            return 'STON/O 2.', s[-7]
        
        if s.startswith('LINE'):
            return 'LINE', None
        
        if s.startswith('SC/AH Basle'):
            return 'SC/AH Basle', None
        
        splitted = s.split(' ')

        ticket_type = None
        ticket_number = None
        if len(splitted) == 1:
            ticket_number = int(splitted[0])
        elif len(splitted) == 2:
            ticket_type = splitted[0]
            ticket_number = splitted[1]
        else:
            raise ValueError
        return ticket_type, ticket_number
    except:
        unexpects.append(s)
        return None, None

In [9]:
unexpects = []
data[['tickket_type', 'tickket_number']] = data['Ticket'].apply(lambda s:Series(ticket_analysis(s, unexpects)))
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,dataset_name,tickket_type,tickket_number
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,train,A/5,21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,train,PC,17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,train,STON/O2.,3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,train,NaN,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,train,NaN,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,train,NaN,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,train,NaN,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,train,NaN,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,train,NaN,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,train,NaN,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,train,PP,9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,train,NaN,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,train,A/5.,2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,train,NaN,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,train,NaN,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,train,NaN,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,train,NaN,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,train,NaN,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,train,NaN,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,train,NaN,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,train,NaN,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,train,NaN,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,train,NaN,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,train,NaN,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,train,NaN,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,train,NaN,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,train,NaN,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,train,NaN,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,train,NaN,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,train,NaN,349216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,oot,NaN,364858
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,oot,NaN,349909
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,oot,NaN,12749
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,oot,PC,17592
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,oot,C.A.,2673
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,oot,C.A.,30769
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,oot,NaN,315153
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,oot,NaN,13695
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,oot,NaN,371109
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,oot,NaN,13567
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,oot,NaN,347065
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,oot,NaN,21332
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,oot,NaN,36928
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,oot,NaN,28664
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,oot,NaN,112378
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,oot,NaN,113059
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,oot,NaN,17765
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,oot,SC/PARIS,2166
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,oot,NaN,28666
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,oot,NaN,113503
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,oot,NaN,334915
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,oot,SOTON/O.Q.,3101315
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,oot,NaN,365237
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,oot,NaN,19928
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,oot,NaN,347086
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,oot,A.5.,3236
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,oot,PC,17758
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,oot,SOTON/O.Q.,3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,oot,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,oot,NaN,2668

In [10]:
def name_analysis(s, unexpects):
    initial_part = None
    title = None
    name_part = None
    other_name_part = None
    nick_name = None
    
    try:
        quote_location = s.find('"')
        if quote_location > 0:
            nick_name = s[(quote_location + 1):-2]
            s = s[(quote_location + 1):]
            
        
        common_location = s.find(',')
        if common_location > 0:
            initial_part = s[:common_location]
            s = s[(common_location+1):]

        left_brace_location = s.find('(')
        if '(' in s:
            other_name_part = s[(left_brace_location+1):-2]
            s = s[:left_brace_location]

        splitted = s.split('.')
        if len(splitted) == 2:
            title = splitted[0].strip()
            name_part = splitted[1].strip()
        else:
            raise ValueError('Unexpected: {}'.format(s))
    except:
        unexpects.append(s)
        
    return initial_part, title, name_part, other_name_part, nick_name

    
data[['name_initial_part', 'name_title', 'name', 'other_name', 'nick_name']] = data['Name'].apply(lambda s:Series(name_analysis(s, unexpects)))
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,dataset_name,tickket_type,tickket_number,name_initial_part,name_title,name,other_name,nick_name
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,train,A/5,21171,Braund,Mr,Owen Harris,None,None
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,train,PC,17599,Cumings,Mrs,John Bradley,Florence Briggs Thaye,None
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,train,STON/O2.,3101282,Heikkinen,Miss,Laina,None,None
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,train,NaN,113803,Futrelle,Mrs,Jacques Heath,Lily May Pee,None
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,train,NaN,373450,Allen,Mr,William Henry,None,None
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,train,NaN,330877,Moran,Mr,James,None,None
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,train,NaN,17463,McCarthy,Mr,Timothy J,None,None
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,train,NaN,349909,Palsson,Master,Gosta Leonard,None,None
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,train,NaN,347742,Johnson,Mrs,Oscar W,Elisabeth Vilhelmina Ber,None
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,train,NaN,237736,Nasser,Mrs,Nicholas,Adele Ache,None
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,train,PP,9549,Sandstrom,Miss,Marguerite Rut,None,None
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,train,NaN,113783,Bonnell,Miss,Elizabeth,None,None
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,train,A/5.,2151,Saundercock,Mr,William Henry,None,None
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,train,NaN,347082,Andersson,Mr,Anders Johan,None,None
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,train,NaN,350406,Vestrom,Miss,Hulda Amanda Adolfina,None,None
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,train,NaN,248706,Hewlett,Mrs,,Mary D Kingcome,None
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,train,NaN,382652,Rice,Master,Eugene,None,None
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,train,NaN,244373,Williams,Mr,Charles Eugene,None,None
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,train,NaN,345763,Vander Planke,Mrs,Julius,Emelia Maria Vandemoortel,None
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,train,NaN,2649,Masselmani,Mrs,Fatima,None,None
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,train,NaN,239865,Fynney,Mr,Joseph J,None,None
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,train,NaN,248698,Beesley,Mr,Lawrence,None,None
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,train,NaN,330923,None,None,None,None,Anni
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,train,NaN,113788,Sloper,Mr,William Thompson,None,None
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,train,NaN,349909,Palsson,Miss,Torborg Danira,None,None
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,train,NaN,347077,Asplund,Mrs,Carl Oscar,Selma Augusta Emilia Johansso,None
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,train,NaN,2631,Emir,Mr,Farred Chehab,None,None
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,train,NaN,19950,Fortune,Mr,Charles Alexander,None,None
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,train,NaN,330959,None,None,None,None,Nelli
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,train,NaN,349216,Todoroff,Mr,Lalio,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,oot,NaN,364858,Canavan,Mr,Patrick,None,None
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,oot,NaN,349909,Palsson,Master,Paul Folke,None,None
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,oot,NaN,12749,Payne,Mr,Vivian Ponsonby,None,None
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,oot,PC,17592,Lines,Mrs,Ernest H,Elizabeth Lindsey Jame,None
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,oot,C.A.,2673,Abbott,Master,Eugene Joseph,None,None
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,oot,C.A.,30769,Gilbert,Mr,William,None,None
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,oot,NaN,315153,Kink-Heilmann,Mr,Anton,None,None
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,oot,NaN,13695,Smith,Mrs,Lucien Philip,Mary Eloise Hughe,None
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,oot,NaN,371109,Colbert,Mr,Patrick,None,None
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,oot,NaN,13567,Frolicher-Stehli,Mrs,Maxmillian,Margaretha Emerentia Stehl,None
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,oot,NaN,347065,Larsson-Rondberg,Mr,Edvard A,None,None
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,oot,NaN,21332,Conlon,Mr,Thomas Henry,None,None
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,oot,NaN,36928,Bonnell,Miss,Caroline,None,None
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,oot,NaN,28664,Gale,Mr,Harry,None,None
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,oot,NaN,112378,Gibson,Miss,Dorothy Winifred,None,None
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,oot,NaN,113059,Carrau,Mr,Jose Pedro,None,None
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,oot,NaN,17765,Frauenthal,Mr,Isaac Gerald,None,None
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,oot,SC/PARIS,2166,None,None,None,None,
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,oot,NaN,28666,Ware,Mr,William Jeffery,None,None
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,oot,NaN,113503,Widener,Mr,George Dunton,None,None
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,oot,NaN,334915,None,None,None,None,
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,oot,SOTON/O.Q.,3101315,Peacock,Miss,Treasteall,None,None
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,oot,NaN,365237,Naughton,Miss,Hannah,None,None
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,oot,NaN,19928,Minahan,Mrs,William Edward,Lillian E Thorp,None
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,oot,NaN,347086,Henriksson,Miss,Jenny Lovisa,None,None
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,oot,A.5.,3236,Spector,Mr,Woolf,None,None
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,oot,PC,17758,Oliva y Ocana,Dona,Fermina,None,None
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,oot,SOTON/O.Q.,3101262,Saether,Mr,Simon Sivertsen,None,None
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,oot,NaN,359309,Ware,Mr,Frederick,None,None
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,oot,NaN,2668,Peter,Master,Michael J,None,None

In [11]:
# 可能随机分，没有精确到个人
data[data['Cabin'] == 'B96 B98']

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,dataset_name,tickket_type,tickket_number,name_initial_part,name_title,name,other_name,nick_name
390,36.0,B96 B98,S,120.0,"Carter, Mr. William Ernest",2,391,1,male,1,1.0,113760,train,NaN,113760,Carter,Mr,William Ernest,None,None
435,14.0,B96 B98,S,120.0,"Carter, Miss. Lucile Polk",2,436,1,female,1,1.0,113760,train,NaN,113760,Carter,Miss,Lucile Polk,None,None
763,36.0,B96 B98,S,120.0,"Carter, Mrs. William Ernest (Lucile Polk)",2,764,1,female,1,1.0,113760,test,NaN,113760,Carter,Mrs,William Ernest,Lucile Pol,None
802,11.0,B96 B98,S,120.0,"Carter, Master. William Thornton II",2,803,1,male,1,1.0,113760,test,NaN,113760,Carter,Master,William Thornton II,None,None

In [12]:
[col for col in list(data.Cabin.dropna().unique()) if ' ' in col]

['C23 C25 C27',
 'F G73',
 'D10 D12',
 'B58 B60',
 'F E69',
 'C22 C26',
 'B57 B59 B63 B66',
 'B96 B98',
 'B51 B53 B55',
 'F G63',
 'C62 C64',
 'B82 B84',
 'C55 C57',
 'F E46',
 'F E57',
 'E39 E41',
 'B52 B54 B56']

In [13]:
from numpy import NaN

In [14]:
cabin_exploded = data.dropna(subset=['Cabin']).groupby('PassengerId')['Cabin'].apply(lambda s:Series(s.iat[0].split(' '))).reset_index().drop('level_1', axis=1)

def analysis_cabin(s):
    cabin_type = None
    cabin_number = None

    cabin_type = s[0]
    
    try:
        cabin_number = int(s[1:])
    except ValueError:
        pass

    return Series([cabin_type, cabin_number])
    
    
    
cabin_exploded[['cabin_type', 'cabin_number']] = cabin_exploded['Cabin'].apply(analysis_cabin)
cabin_exploded

cabin_exploded.groupby('cabin_type')['cabin_number'].apply(Series.value_counts)

cabin_type
A           34.0    3
            18.0    1
            11.0    1
            5.0     1
            7.0     1
            32.0    1
            31.0    1
            19.0    1
            14.0    1
            16.0    1
            10.0    1
            20.0    1
            23.0    1
            26.0    1
            36.0    1
            24.0    1
            21.0    1
            9.0     1
            29.0    1
            6.0     1
B           63.0    5
            59.0    5
            66.0    5
            57.0    5
            98.0    4
            96.0    4
            51.0    3
            55.0    3
            53.0    3
            60.0    3
                   ..
E           8.0     2
            24.0    2
            50.0    2
            25.0    2
            44.0    2
            69.0    1
            36.0    1
            38.0    1
            40.0    1
            10.0    1
            41.0    1
            12.0    1
            39.0    1
            68.0    1
            58.0    1
            77.0    1
            49.0    1
            17.0    1
            45.0    1
            52.0    1
            57.0    1
            60.0    1
            63.0    1
F           4.0     4
            2.0     4
            33.0    4
            38.0    1
G           6.0     5
            63.0    2
            73.0    2
Name: cabin_number, Length: 199, dtype: int64

In [15]:
def aggregate_cabin(s):
    m = len(s)
    most_frequent = s.value_counts().index[0]
    
    return Series([m, most_frequent], index = ['cabin_count', 'most_possible_cabin'])

cabin_features = cabin_exploded.groupby('PassengerId')['cabin_type'].apply(aggregate_cabin).unstack(level=1)
cabin_features

            cabin_count most_possible_cabin
PassengerId
2                     1                   C
4                     1                   C
7                     1                   E
11                    1                   G
12                    1                   C
22                    1                   D
24                    1                   A
28                    3                   C
32                    1                   B
53                    1                   D
55                    1                   B
56                    1                   C
62                    1                   B
63                    1                   C
67                    1                   F
76                    2                   G
89                    3                   C
93                    1                   E
97                    1                   A
98                    2                   D
103                   1                   D
111                   1                   C
119                   2                   B
124                   1                   E
125                   1                   D
129                   2                   E
137                   1                   D
138                   1                   C
140                   1                   B
149                   1                   F
...                 ...                 ...
1193                  1                   D
1197                  1                   B
1198                  2                   C
1200                  1                   B
1206                  1                   C
1208                  1                   B
1213                  2                   E
1214                  1                   F
1218                  1                   F
1223                  1                   A
1227                  1                   C
1235                  3                   B
1242                  2                   D
1247                  1                   E
1248                  1                   C
1256                  1                   E
1263                  2                   E
1264                  3                   B
1266                  1                   A
1270                  1                   C
1282                  1                   B
1283                  1                   D
1287                  1                   C
1289                  1                   B
1292                  1                   C
1296                  1                   D
1297                  1                   D
1299                  1                   C
1303                  1                   C
1306                  1                   C

[295 rows x 2 columns]

In [16]:
drops = ['Name', 'Ticket', 'Cabin', 'name_initial_part','name_title','name','other_name','nick_name', 'tickket_type','tickket_number']
data = data.set_index('PassengerId').join(cabin_features, how='outer').drop(drops, axis=1)
data

,Age,Embarked,Fare,Parch,Pclass,Sex,SibSp,Survived,dataset_name,cabin_count,most_possible_cabin
PassengerId,,,,,,,,,,,
1,22.0,S,7.2500,0,3,male,1,0.0,train,NaN,NaN
2,38.0,C,71.2833,0,1,female,1,1.0,train,1,C
3,26.0,S,7.9250,0,3,female,0,1.0,train,NaN,NaN
4,35.0,S,53.1000,0,1,female,1,1.0,train,1,C
5,35.0,S,8.0500,0,3,male,0,0.0,train,NaN,NaN
6,NaN,Q,8.4583,0,3,male,0,0.0,train,NaN,NaN
7,54.0,S,51.8625,0,1,male,0,0.0,train,1,E
8,2.0,S,21.0750,1,3,male,3,0.0,train,NaN,NaN
9,27.0,S,11.1333,2,3,female,0,1.0,train,NaN,NaN
10,14.0,C,30.0708,0,2,female,1,1.0,train,NaN,NaN
11,4.0,S,16.7000,1,3,female,1,1.0,train,1,G
12,58.0,S,26.5500,0,1,female,0,1.0,train,1,C
13,20.0,S,8.0500,0,3,male,0,0.0,train,NaN,NaN
14,39.0,S,31.2750,5,3,male,1,0.0,train,NaN,NaN
15,14.0,S,7.8542,0,3,female,0,0.0,train,NaN,NaN
16,55.0,S,16.0000,0,2,female,0,1.0,train,NaN,NaN
17,2.0,Q,29.1250,1,3,male,4,0.0,train,NaN,NaN
18,NaN,S,13.0000,0,2,male,0,1.0,train,NaN,NaN
19,31.0,S,18.0000,0,3,female,1,0.0,train,NaN,NaN
20,NaN,C,7.2250,0,3,female,0,1.0,train,NaN,NaN
21,35.0,S,26.0000,0,2,male,0,0.0,train,NaN,NaN
22,34.0,S,13.0000,0,2,male,0,1.0,train,1,D
23,15.0,Q,8.0292,0,3,female,0,1.0,train,NaN,NaN
24,28.0,S,35.5000,0,1,male,0,1.0,train,1,A
25,8.0,S,21.0750,1,3,female,3,0.0,train,NaN,NaN
26,38.0,S,31.3875,5,3,female,1,1.0,train,NaN,NaN
27,NaN,C,7.2250,0,3,male,0,0.0,train,NaN,NaN
28,19.0,S,263.0000,2,1,male,3,0.0,train,3,C
29,NaN,Q,7.8792,0,3,female,0,1.0,train,NaN,NaN
30,NaN,S,7.8958,0,3,male,0,0.0,train,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1280,21.0,Q,7.7500,0,3,male,0,NaN,oot,NaN,NaN
1281,6.0,S,21.0750,1,3,male,3,NaN,oot,NaN,NaN
1282,23.0,S,93.5000,0,1,male,0,NaN,oot,1,B
1283,51.0,S,39.4000,1,1,female,0,NaN,oot,1,D
1284,13.0,S,20.2500,2,3,male,0,NaN,oot,NaN,NaN
1285,47.0,S,10.5000,0,2,male,0,NaN,oot,NaN,NaN
1286,29.0,S,22.0250,1,3,male,3,NaN,oot,NaN,NaN
1287,18.0,S,60.0000,0,1,female,1,NaN,oot,1,C
1288,24.0,Q,7.2500,0,3,male,0,NaN,oot,NaN,NaN
1289,48.0,C,79.2000,1,1,female,1,NaN,oot,1,B
1290,22.0,S,7.7750,0,3,male,0,NaN,oot,NaN,NaN
1291,31.0,Q,7.7333,0,3,male,0,NaN,oot,NaN,NaN
1292,30.0,S,164.8667,0,1,female,0,NaN,oot,1,C
1293,38.0,S,21.0000,0,2,male,1,NaN,oot,NaN,NaN
1294,22.0,C,59.4000,1,1,female,0,NaN,oot,NaN,NaN
1295,17.0,S,47.1000,0,1,male,0,NaN,oot,NaN,NaN
1296,43.0,C,27.7208,0,1,male,1,NaN,oot,1,D
1297,20.0,C,13.8625,0,2,male,0,NaN,oot,1,D
1298,23.0,S,10.5000,0,2,male,1,NaN,oot,NaN,NaN
1299,50.0,C,211.5000,1,1,male,1,NaN,oot,1,C
1300,NaN,Q,7.7208,0,3,female,0,NaN,oot,NaN,NaN
1301,3.0,S,13.7750,1,3,female,1,NaN,oot,NaN,NaN
1302,NaN,Q,7.7500,0,3,female,0,NaN,oot,NaN,NaN
1303,37.0,Q,90.0000,0,1,female,1,NaN,oot,1,C
1304,28.0,S,7.7750,0,3,female,0,NaN,oot,NaN,NaN
1305,NaN,S,8.0500,0,3,male,0,NaN,oot,NaN,NaN
1306,39.0,C,108.9000,0,1,female,0,NaN,oot,1,C
1307,38.5,S,7.2500,0,3,male,0,NaN,oot,NaN,NaN
1308,NaN,S,8.0500,0,3,male,0,NaN,oot,NaN,NaN
1309,NaN,C,22.3583,1,3,male,1,NaN,oot,NaN,NaN

In [17]:
data_full = data

In [18]:
from model_lab.quick_score_card import QuickScoreCard, DataGenerator, build_data_generator

In [19]:
data_full.to_excel('test_data.xlsx', index=False)

In [20]:
data = pd.read_excel('test_data.xlsx')
data['Survived'] = data['Survived']


label_col_name = 'Survived'
dataset_col_name = 'dataset_name'

train_dataset_name = 'train'
oot_dataset_name = 'oot'
test_dataset_names = ['test']

data_generator = build_data_generator(
    data,
    label_col_name,
    dataset_col_name,
    train_dataset_name,
    oot_dataset_name,
    test_dataset_names
)


trainer = QuickScoreCard(data_generator)
trainer.run()

Doing task encoder_training ...

RuntimeWarning: divide by zero encountered in log